body{
    background-color: #eaecf3;
}
.banner,
.action,
.productive-user,
.review,
.letter{
  
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

/* banner styles */
.banner{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    height: 300px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.logo{
    color: rgb(9, 9, 239);
    font-size: 25px;
    font-weight: bolder;
}
.sign-up-btn{
    color: #fff;
    background-color: rgb(9, 9, 239) ;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
}
.sign-up-btn:hover{
    background-color: rgb(211, 33, 92);
}
.banner-main-section{
    text-align: center;
    
}
.banner-main-section h2{
    width: 35%;
    margin: 15px auto;

}
.navbar-banner-btn{
    color: #fff;
    background-color: rgb(9, 9, 239) ;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.navbar-banner-btn:hover {
  background-color: rgb(200, 7, 20);
  transform: translateY(-2px);
}

/* action styles */
.action{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    /* margin: 0 auto; */
}

.action-content{
    width: 25%;
    margin: 50px 0;
}
.action-content-title{
    font-size: 20px;
    font-weight: bold;
}
.action-content-sub-title{
    color: #252432;
    font-size: 13px;
}
.action-btn{
    color: #fff;
    background-color: rgb(9, 9, 239) ;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
}
.action-btn:hover{
    background-color: #92dc1b;
}
.action img{
    border-radius: 20px;
}

/* productiver-user-banner styles */
.productive-user{
    max-width: 900px;
    /* margin: 0 auto; */
    text-align: center;
    background-color: #b9b7ec;
    padding: 40px 0;
    border-radius: 10px;
}
.productive-user-analytics{
   display: flex;
   justify-content: center; 
   gap: 60px;   
    
    
}
.productive-user-analytics h2{
    color: rgb(57, 57, 214);
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 0;
}
.productive-user-analytics p{
    color: #252432;
    font-size: 13px;
    margin-top: 0;
}

/* review styles */
.review{
    max-width: 900px;
    /* margin: 30px auto; */
    text-align: center;
}
.review-section{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    
}
.reviewer01, .reviewer02, .reviewer03{
    display: flex;
    gap: 10px;
    height: 50px;


}
.reviewer01 img, .reviewer02 img, .reviewer03 img{
    border-radius: 50%;
    
}
.reviewer-data{
    gap: 0;
}
.reviewer-data-name{
    font-size: 13px;
}
.reviewer-data-date{
    font-size: 9px;
    color: rgb(154, 148, 148);
    margin-top: 0;

}

/* letter styles */
.letter{
    max-width: 900px;
    /* margin: 30px auto; */
    display: flex;
    justify-content: space-between;
}
.letter-heading{
    align-content: center;
    font-size: 50px;
    font-weight: bolder;
    width: 30%;

}
.letter-input-form{
    display: flex;
    flex-direction: column;  
    gap: 1rem;  
    width: 350px;
    border: none;
}
.letter-input-form input {
  height: 40px;
}

.letter-input-form input,
.letter-input-form textarea {
  border: none;        
  outline: none;
  border-radius: 5px;
}

/* footer styles */
.footer{
    text-align: center;
    background-color: #fff;
    padding: 4rem 0; 
}
.footer-content{
    width: 35%;
    margin: 0 auto;
    text-align: center;
    color: #8987A1;
}
.footer-content h1{
    color: rgb(61, 61, 174);
    font-size: 50px;
    font-weight: 1000;
}
    

.footer ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.footer li a{
    text-decoration: none;
    color: #8987A1; 
    
    
}